<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/admin.css" />
    <title>Admin</title>
  </head>
  <body>
    <header>
      <h1>Admin</h1>
      <p>Welcome <%= login %></p>
      <form action="/logOut" method="post">
        <button type="submit">Log Out</button>
      </form>
    </header>
    <main>
      <% contacts.forEach(contact => { %>
      <div class="container1">
        <form action="/admin/editContacts/<%= contact._id %>" method="post">
          <input
            type="text"
            name="phone"
            placeholder="Phone"
            value="<%= contact.phone %>"
          />
          <input
            type="email"
            name="email"
            placeholder="Email"
            value="<%= contact.email %>"
          />
          <button type="submit">Add Changes</button>
        </form>
      </div>

      <% }); %>
      <div class="container2">
        <form action="/admin/addCards" method="post">
          <input type="text" name="image" placeholder="Enter Image Url" />
          <input type="text" name="title" placeholder="Enter Title" />
          <input
            type="text"
            name="description"
            placeholder="Enter Description"
          />
          <button type="submit">Add Card</button>
        </form>
      </div>
    </main>
  </body>
</html>
