<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/main.css" />
    <title>Main</title>
  </head>
  <body>
    <header>
      <h1>About ME</h1>
      <ul>
        <li><a href="/zhenyaLogin">Log In</a></li>
        <li><a href="/sign">Sign Up</a></li>
      </ul>
    </header>
    <main></main>
    <footer>
      <p>Copyright &copy; 2024</p>
    </footer>
  </body>
</html>
